
.menu a {
    text-decoration: none;
    color: inherit;
    align-content: stretch;
    text-align: right;

}
.menu {
    box-shadow: .5rem .5rem 1rem#565959;
    border: none;
    border-radius: 5px;
    text-align: right;
    display: flexbox;
}

.menu img {
    display: flexbox;
    width: 80px;
    text-align: left;
    margin: 0;
    padding: 12px;
    border-radius: 2%;

}
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 8px;
    padding: 0;
    scroll-behavior: smooth;
    display: flexbox;
}

#inicio button a {
    
    padding-inline: 0;
    margin-inline-start: auto;
    text-decoration: none;
    color: inherit; 
}
#inicio button {
    border: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #20f5a5;
    font-size: 20px;
    color: white;
    transition: .3s;
    cursor: pointer;
    text-align: center;
    padding: 16px 24px;
    margin: 10px;

}


main {
    max-width: 1200px;
    margin: auto;
}

body{
    background-color: #b8fad3;
}
#inicio img {
   
    border-radius: 45%;
    width: 250px;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#contacto img{

    width: 60px;
    display: flex;
    margin: 10px;   
}

h1
 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hablemos{
background-color: aquamarine;
border-radius: 10px;
padding: 16px 24px;

}
footer{
    text-align: right;
    background-color: #3cd1d3;
    padding: 0;
    margin: 0;
    font-style: oblique;
    font-weight: bolder;
    
}


